<div class="navbar-smap">
  <!-- Logo -->
  <a href="/" class="navbar-smap-brand">
    <%= image_tag "logo.png"%>

  </a>

  <!-- Right Navigation -->
  <div class="navbar-smap-right hidden-xs hidden-sm">

    <a href="" class="navbar-smap-item navbar-smap-link"><%= link_to "Profil", user_profile_path %></a>
    <a href="" class="navbar-smap-item navbar-smap-link">Locations</a>
    <a href="" class="navbar-smap-item navbar-smap-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-smap-item">
      <div class="dropdown">
        <%= image_tag ("profil.jpg"), class:"avatar", id:"navbar-smap-menu", data: { toggle: 'dropdown' } %>
        <ul class="dropdown-menu dropdown-menu-right navbar-smap-dropdown-menu">
          <li><a href="#"><%= link_to "Profil", user_profile_path %></a></li>
          <li><a href="#">Tableau de bord</a></li>
          <li><a href="#"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


