<div class="container">

  <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
  <h4> E-mail : <%= current_user.email %></h4>
  <h4> Password : ************ </h4>
  <h4> E-mail : <%= current_user.email %></h4>
  <h4> E-mail : <%= current_user.email %></h4>
  <h4> E-mail : <%= current_user.email %></h4>
  <h4> E-mail : <%= current_user.email %></h4>

</div>
