<div class="container">
  <%= link_to "Mon profil", user_profile_path %>
  <%= button_to "Déconnexion", destroy_user_session_path, method: :delete %>
  <h1> Our available cars </h1>
  <%= link_to "Ajouter ma voiture", new_car_path %>
  <hr>
  <% @cars.each do |car| %>
    <%= car.user.first_name %>
    <%= car.user.last_name %>
    <ul>
      <li><%= car.brand %></li>
      <li><%= car.model %></li>
      <li><%= car.category %></li>
    </ul>
    <%= cl_image_tag car.photo, height: 300, width: 400, crop: :fit%> <br>
    <%= link_to "Détails de la voiture", car_path(car) %>
    <hr>
  <% end %>
</div>

